@use "../utils/" as *;

.app-container {
  @include flexContainer(column);
  line-height: 1.5;
  align-items: center;
  width: 100%;
  overflow: hidden;
  z-index: -2;
  overflow: hidden;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%,
    rgba(2, 0, 36, 1) 0%
  );
}
.main-content-container {
  @include flexContainer(column);
  align-items: center;
  width: 100%;
  overflow: hidden;
}
