/*
Colors
*/
$primary-clr: rgb(33, 33, 33);
$primary-text-clr: white;
$accent-clr: #1080f9;
$accent-clr2: #4b64a4;
$accent-clr-dark: #111;

/*
Fonts
*/
$primary-font: "JosefinSans";
$heading-font: "RussoOne", sans-serif;

/*
Font weights
*/
